/*****************************************************
******************************************************
******************************************************
Identifiers
******************************************************
******************************************************
******************************************************/

/*****************************************************
******************************************************
******************************************************
Tags
******************************************************
******************************************************
******************************************************/

/*****************************************************
******************************************************
******************************************************
Classes
******************************************************
******************************************************
******************************************************/
.beta-disclaimer {
    position: absolute;
    top: 0px;
    right: 0;
    z-index: 10000;
    padding: 15px 10px 15px 10px;
    background-color: #dc7024;
    opacity: 1;
    border-bottom-left-radius: 4px;
    border: 1px solid #9b4000;
    border-top: none;
    box-shadow: 0 0 5px black;
    color: white;
    max-width: 550px;
}

.beta-disclaimer-yellow {
    color: #ffd800;
}

.beta-disclaimer a, .beta-disclaimer a:hover, .beta-disclaimer a:active, .beta-disclaimer a:visited {
    color: #ffd800;
}


/*****************************************************
******************************************************
******************************************************
Mobile Styles
******************************************************
******************************************************
******************************************************/
@media only screen and (max-device-width : 800px), only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    .beta-disclaimer {
        top: initial;
        right: inherit;
        left: initial;
        position: initial;
        max-width: 250px;
        z-index: initial;
        display: table;
        margin: 0 auto;
        margin-top: 50px;
        max-width: initial;
    }
}