/*****************************************************
******************************************************
******************************************************
Identifiers
******************************************************
******************************************************
******************************************************/

/*****************************************************
******************************************************
******************************************************
Tags
******************************************************
******************************************************
******************************************************/

/*****************************************************
******************************************************
******************************************************
Classes
******************************************************
******************************************************
******************************************************/

/*****************************************************
******************************************************
******************************************************
Mobile Styles
******************************************************
******************************************************
******************************************************/
@media only screen and (max-device-width : 800px), only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    .filter-tools, .report-viewer, .search-controls td {
        display: block;
        width: 100%;
    }
    
    .filter-tools td {
        display: initial;
    }
}