<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" class="no-js" ng-app="OpenFDAPrototype">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="favicon.ico" />
    <title>ADERS</title>
    <!--Begin Style References-->
    <!--CDN References-->
    <!--Styles-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap-theme.css" rel="stylesheet">
    <!--Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>
    <!--Site Dependencies-->
    <!--Styles-->
    <!--Style Overrides-->
    <link href="Styles/Master/banner.css" rel="stylesheet" />
    <link href="Styles/Master/master.css" rel="stylesheet" />
    <link href="Styles/Master/menu.css" rel="stylesheet" />
    <link href="Styles/Views/index.css" rel="stylesheet" />
    <link href="Styles/Views/search.css" rel="stylesheet" />
    <link href="Styles/Views/landing.css" rel="stylesheet" />
    <!--Begin Script References-->
    <!--CDN References-->
    <!--Scripts-->
    <!--ExoTools-->
    <script src="Scripts/ExoTools/ExoTools.js"></script>
    <script src="Scripts/ExoTools/ExoTools.Collections.js"></script>
    <script src="Scripts/ExoTools/ExoTools.Document.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.1/angular.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.1/angular-route.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
    <!--Site References Post Dependencies Loaded-->
    <script src="Scripts/Master/menu.js"></script>
    <script src="Scripts/Master/master.js"></script>
    <script src="Scripts/Master/types.js"></script>
    <script src="Scripts/Master/Angular-Init.js"></script>
</head>
<body ng-controller="MainController as main" ng-init="main.setPageTitle()">
    <input type="hidden" id="mobilify" />
    <div class="flex-menu site-menu menu-blue">
        <ul class="site-menu-list">
            <li ng-repeat="item in main.menuItems" class="menu-item {{item.classes}}" ng-show="item.show" ng-class="{'menu-logo': item.isLogo}">
                <span class="menu-item-content" ng-class="{'menu-logo-content': item.isLogo}">
                    <span ng-class="{'prototype-logo': item.isLogo}">
                        <a href="{{item.url}}" ng-click="main.closeMenu()">
                            <span ng-show="{{ !item.isImage }}">
                                {{item.text}}
                            </span>
                            <img src="{{item.src}}" alt="{{item.alt}}" ng-show="{{item.isImage}}" />
                        </a>
                    </span>
                </span>
            </li>
        </ul>
    </div>
    <div class="flex-menu site-menu-mobile-icon">
        <div class="site-menu-mobile-text">
            <span class="site-menu-mobile-bar">
            </span>
            <span class="site-menu-mobile-bar">
            </span>
            <span class="site-menu-mobile-bar">
            </span>
        </div>
    </div>
    <div id="wrapper">
        <div id="header">
           
        </div>
        <div id="content">
            <div>
                <div ng-view>
                    <!--View Content Injected Here-->
                </div>
            </div>
        </div>
        <div id="footer">
            <table class="footer-content">
                <tbody>
                    <tr>
                         <td ng-show="!main.isMobile()">
                            <div class="intellLogoContainer">
                                <img src="Images/IntellectSolutions-Logo.png" alt="Intellect Solutions Logo" class="intellLogo" /><br />
                                <a href="http://www.intellectsolutions.com" target="_blank">www.intellectsolutions.com</a>
                            </div>
                        </td>
                        <td>
                            <div class="footer-contact">
                                <span>CONTACT US</span>
                                <br />
                                Phone: 877-691-7477
                                <br />
                                <span>Fax: 703-991-7785</span>
                            </div>
                        </td>
                        <td>
                            <div class="footer-address">
                                Intellect Solutions, LLC
                                <br />
                                <span>5602 Pickwick Road</span>
                                <br />
                                <span>Centerville, VA 20120</span>
                            </div>
                        </td>
                        <td>
                            <a href="#/Privacy">Privacy Policy</a><br />
                            <a href="#/Legal">Legal Notice</a><br />
                        </td>
                    </tr>
                </tbody>
            </table>
            <div ng-show="main.isMobile()">
                <table class="table-center">
                    <tbody>
                        <tr>
                            <td>
                                &copy;<img src="Images/IntellectSolutions-Logo.png" alt="Intellect Solutions Logo" class="intellLogo" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--Controllers-->
    <!--Views/Search.html-->
    <script src="Scripts/Controllers/SearchController.js" type="text/javascript"></script>
    <!--Views/Disclosure.html-->
    <script src="Scripts/Controllers/DisclosureController.js" type="text/javascript"></script>
    <!--Views/About.html-->
    <script src="Scripts/Controllers/AboutController.js" type="text/javascript"></script>
    <!--Views/Video.html-->
    <script src="Scripts/Controllers/VideoController.js"></script>
    <!--Views/Landing.html-->
    <script src="Scripts/Controllers/LandingController.js"></script>
</body>
</html>
