<div class="beta-disclaimer" ng-show="disclosure.isMobile()">
    <div>
        <h1 class=" heading-medium beta-disclaimer-heading beta-disclaimer-yellow text-center">
            Beta Usage
        </h1>
    </div>
    <div class="beta-disclaimer-text">
        <div class="para">
            ADERS and openFDA are beta research project and not for clinical use.
            We may limit or otherwise restrict your access in accordance with&nbsp;<a href="https://open.fda.gov/terms/" target="_blank" style="color:blue">FDA Terms of Use</a>.
        </div>
    </div>
</div>
