<div class="view-area">
    <h1 class="heading-large">Feedback</h1>
    <div class="para">
        Intellect Solutions built this site for users to provide them with an authoritative source on adverse drug effects. 
        Please use the Google survey form below to send us your comments. We read all feedback carefully, but please note that we cannot respond to the comments you submit. 
        <br />
        <iframe title="Feedback Form" class="feedback" src="https://docs.google.com/forms/d/1Hfkx9HmSx-vjw2nzaLQRhIaQ0EyAxrER3-slhlpknv4/viewform"></iframe>
     </div>
</div>