<div class="banner">
    <img src="Images/RF_StockArt_Comp.jpg" alt="Picture of Pharmacy with images of pills" class="img-responsive" />
</div>
<div class="beta-disclaimer" ng-show="!landing.isMobile()">
  <h1 class="heading-medium beta-disclaimer-heading beta-disclaimer-yellow text-center">Beta Usage</h1>
  <div class="beta-disclaimer-text">
      <div class="para">
          ADERS and openFDA are beta research project and not for clinical use.
          We may limit or otherwise restrict your access in accordance with&nbsp;<a href="https://open.fda.gov/terms/" target="_blank" style="color:blue;">FDA Terms of Use</a>.
      </div>
  </div>
</div>
<div class="landing-container view-area">
    <div class="para">
      The Food and Drug Administration (FDA) maintains a repository of medications, adverse effects and recalls as part of the&nbsp;<a style="color:blue" href="https://open.fda.gov" target="_blank">OpenFDA initiative</a>. Intellect Solutions designed a new website - Adverse Drug Effects Research System (ADERS) - to allow individuals to securely utilize this website to research the adverse effects reported for medications.<br />
      <br />
      To begin, please use the <b>Drug Search</b> menu option or click <a style="color:blue" href="#/Search">here</a> to research medications.<br />
      <br />
      To see how we came up with ADERS prototype solution, please use the <b>Our Solution</b> menu option or click <a style="color:blue" href="#/Video">here</a> to watch the video.
    </div>
</div>
