<div class="view-area">
    <h1 class="heading-large">How We Collect and Use Information</h1>
    <div class="para">
        We collect the following types of information about you:<br />
        <br />
        <i>Log file information:</i><br />
        <br />
        Log file information is automatically reported by your browser or mobile device each time you access the website. When you use our website, our servers automatically record certain log file information. 
        These server logs include anonymous information such as your web request, Internet Protocol (“IP”) address, browser type, referring / exit pages and URLs, number of clicks and how you interact with links on the Website, 
        domain names, landing pages, pages viewed, and other such information.
    </div>
    <h1 class="heading-large">Sharing of Your Information</h1>
    <div class="para">
        We will not rent or sell your information into third parties outside Intellect Solutions and its group companies (including any parent, subsidiaries and affiliates) without your consent.<br />
        <br />
        <i>Instances where we are required to share your information:</i><br />
        <br />
        Intellect will disclose your information where required to do so by law or subpoena or if we reasonably believe that such action is necessary to 
        (a) comply with the law and the reasonable requests of law enforcement; 
        (b) to enforce our Terms of Use or to protect the security, quality or integrity of our Website; and/or 
        (c) to exercise or protect the rights, property, or personal safety of Intellect, our Users, or others.
    </div>
    <h1 class="heading-large">How We Store and Protect Your Information</h1>
    <div class="para">
        <i>Keeping your information safe:</i><br />
        <br />
        Intellect cares about the security of your information, and uses commercially reasonable safeguards to preserve the integrity and security of all information collected through the Website. 
        To protect your privacy and security, we take reasonable steps (such as requesting a unique password) to verify your identity before granting you access to your account. You are responsible 
        for maintaining the secrecy of your unique password and account information, and for controlling access to your email communications from Intellect, at all times. However, Intellect cannot 
        ensure or warrant the security of any information you transmit to Intellect or guarantee that information on the Website may not be accessed, disclosed, altered, or destroyed. Your privacy 
        settings may also be affected by changes to the functionality of third party sites and websites that you add to the Intellect Website, such as social networks. Intellect is not responsible 
        for the functionality or security measures of any third party.
        <i>Compromise of information:</i><br />
        <br />
        In the event that any information under our control is compromised as a result of a breach of security, Intellect will take reasonable steps to investigate the situation and where appropriate, 
        notify those individuals whose information may have been compromised and take other steps, in accordance with any applicable laws and regulations.
    </div>
    <h1 class="heading-large">Links to Other Websites and Websites</h1>
    <div class="para">
        We are not responsible for the practices employed by websites or websites linked to or from the Website, including the information or content contained therein. Please remember that when you use a 
        link to go from our website to another website, our Privacy Policy does not apply to third-party websites or websites. Your browsing and interaction on any third-party website or website, including 
        those that have a link or advertisement on our website, are subject to that third party’s own rules and policies.
    </div>
</div>