<div class="view-area">
    <div class="beta-disclaimer" ng-show="disclosure.isMobile">
        <div class="heading-medium beta-disclaimer-heading beta-disclaimer-yellow text-center">
            Beta Usage &amp; API Alert
        </div>
        <div class="beta-disclaimer-text">
            <div class="para">
                <b>openFDA</b> is a beta research project and is not for clinical use.
            </div>
            <div class="para">
                We may limit or otherwise restrict your access according to our <a href="#" class="beta-disclaimer-yellow">Terms of Use</a>.
            </div>
        </div>
    </div>
</div>