<div class="banner">
    <img src="Images/RF_StockArt_Comp.jpg" class="img-responsive" />
</div>
<div class="beta-disclaimer" ng-show="!landing.isMobile()">
    <div class="heading-medium beta-disclaimer-heading beta-disclaimer-yellow text-center">
        Beta Usage &amp; API Alert
    </div>
    <div class="beta-disclaimer-text">
        <div class="para">
            <b>openFDA</b> is a beta research project and is not for clinical use.
        </div>
        <div class="para">
            We may limit or otherwise restrict your access according to our <a href="#" class="beta-disclaimer-yellow">Terms of Use</a>.
        </div>
    </div>
</div>
<div class="landing-container view-area">
    <h4>
        Prescription and over-the-counter (OTC) drug labeling
    </h4>
    <br />
    <div class="para">
        Every prescription drug (including biological drug products) approved by FDA for human use comes with FDA-approved labeling. The openFDA drug product labeling API provides data for prescription and over-the-counter (OTC) drug labeling. Since mid-2009, labeling has been posted publicly in the Structured Product Labeling (SPL) format.
    </div>
    <div class="para">
        This chart shows labeling submissions over time, by looking at their "effective dates." The search is limited to dates since June 2009, which excludes a small number of older submissions.
    </div>
</div>