<div>
    <div class="search-container view-area">
        <div class="screen-left">
            <div class="controls-group">
                <div class="heading-large">
                    Search Adverse Drug Effects
                </div>
                <div class="control">
                    <select ng-model="search.drugName" ng-options="option.value for option in search.listItems" title="Drug Names by Filter" ng-change="search.displayData(3)"></select>
                </div>
                <div class="control">
                    <div class="heading-large">Select Search Criteria</div>
                </div>
                <div class="control drug-types">
                    <table>
                        <tr>
                            <td ng-show="false">
                                <input type="radio" value="{{ search.drugTypes.brand.Index }}" id="drug_types_1" name="drug_types" ng-model="search.drugType" ng-click="search.compileList()" ng-show="false" />
                            </td>
                            <td ng-show="false">
                                <label for="drug_types_1" ng-show="false">{{ search.drugTypes.brand.Value }}</label>
                            </td>
                            <td><div class="inline-spacer"></div></td>
                            <td>
                                <input type="radio" value="{{ search.drugSources.OTC.Index }}" id="drug_source_1" name="drug_source" ng-model="search.drugSource" ng-click="search.compileList()" />
                            </td>
                            <td>
                                <label for="drug_source_1">{{ search.drugSources.OTC.Value }}</label>
                            </td>
                        </tr>
                        <tr>
                            <td ng-show="false">
                                <input type="radio" value="{{ search.drugTypes.generic.Index }}" id="drug_types_2" name="drug_types" ng-model="search.drugType" ng-click="search.compileList()" ng-show="false" />
                            </td>
                            <td ng-show="false">
                                <label for="drug_types_2" ng-show="false">{{ search.drugTypes.generic.Value }}</label>
                            </td>
                            <td><div class="inline-spacer"></div></td>
                            <td>
                                <input type="radio" value="{{ search.drugSources.prescription.Index }}" id="drug_source_2" name="drug_source" ng-model="search.drugSource" ng-click="search.compileList()"  />
                            </td>
                            <td>
                                <label for="drug_source_2">{{ search.drugSources.prescription.Value }}</label>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <hr />
            <div class="reactions" ng-hide="search.hasDrugName">
                <table>
                    <tr ng-repeat="r in search.adverseReactionsList">
                        <td>
                            <input type="radio" name="adverse_reactions" id='{{ "adverse_reactions" + r.key }}' value="{{r.key}}" ng-checked="r.key === search.selectedReaction" ng-model="search.selectedReaction" ng-click="search.displayData(1)" />
                        </td>
                        <td>
                            <label for='{{ "adverse_reactions" + r.key }}'>{{r.value}}</label>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="demographics" ng-show="search.hasDrugName">
                <table>
                    <tr ng-repeat="r in search.patientDemographicsList">
                        <td>
                            <input type="radio" name="patient_demograph" id='{{ "patient_demograph" + r.key }}' value="{{r.key}}" ng-model="search.selectedDemograph" ng-click="search.displayData(2)" />
                        </td>
                        <td>
                            <label for='{{ "patient_demograph" + r.key }}'>{{r.value}}</label>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="screen-right">
            <div ng-style="search.setTableHeigh()">
                <table class="data-table">
                    <tbody>
                        <tr ng-repeat="term in search.dataSet.terms">
                            <td>
                                <div class="data-row" ng-style="search.calculateStyle(term)">
                                    <div style="color: white; padding-left: 10px;" >
                                        {{ (term.term + " (" + term.count + ")").trim() }}
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div ng-show="search.hasNoRecords">
                <h3>No Records Matched That Query</h3>
            </div>
        </div>
    </div>
</div>