<div class="search-content">
    <div ng-init="search.setPageTitle()">
        <div class="heading-large text-center">{{search.title}}</div>
        <br />
        <div class="search-controls" ng-show="search.context !== null">
            <div class="table-responsive">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>
                                <label for="tbQuery">Search {{search.context}}:&nbsp;</label>
                            </td>
                            <td>
                                <input type="text" id="tbQuery" ng-model="search.queryValue" placeholder="Search for {{search.context}}" title="Search the openFDA API for {{search.context}}" />
                            </td>
                        </tr>
                        <tr>
                            <td>&nbsp;</td>
                            <td>&nbsp;</td>
                        </tr>
                        <tr>
                            <td>
                                &nbsp;
                            </td>
                            <td>
                                <input type="button" value="Search" ng-click="" />
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>