/*****************************************************
******************************************************
******************************************************
Identifiers
******************************************************
******************************************************
******************************************************/
#mobilify {
    display: none;
}

/*****************************************************
******************************************************
******************************************************
Tags
******************************************************
******************************************************
******************************************************/
body {
    font-family: 'Ubuntu', 'Questrial', Arial, Calibri, sans-serif;
}

a {
    color: inherit;
}

    a:hover {
        color: inherit;
    }

    a:active {
        color: inherit;
    }

    a:visited {
        color: inherit;
    }

/*****************************************************
******************************************************
******************************************************
Classes
******************************************************
******************************************************
******************************************************/
.main-content {
    padding-top: 70px;
    padding-bottom: 25px;
    padding-left: 15px;
    padding-right: 15px;
}

.heading-large {
    font-size: 1.75em;
    padding: 10px 0 10px 0;
    font-weight: bold;
}

.heading-medium {
    font-size: 1.25em;
    padding: 10px 0 10px 0;
    font-weight: bold;
}

.para {
    padding: 5px 0 5px 0;
}

.view-area {
    padding-top: 200px;
}

/*****************************************************
******************************************************
******************************************************
Mobile Styles
******************************************************
******************************************************
******************************************************/
@media only screen and (max-device-width : 800px), only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    .para {
        font-size: .85em;
    }

    .main-content {
        padding-top: 50px;
        padding-bottom: 25px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .view-area {
        padding: 0;
    }

    #mobilify {
        display: initial;
    }
}
